body {
	font-family: Arial;
}

h1, h2, h3, h4, h5, h6{
  line-height: 10px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.vacaturevak {
	background-color: #FFFFCC;
	border-width: 1px;
	border-style: solid;
	width: 900px;
	margin: 5px;
	padding: 10px;
	float: left;
}

.vacatureinfobox{
	border-width: 1px;
	border-style: solid;
	margin: 5px;
	width: 300px;
	float: right;
}
.advertentie{
	border-width: 1px;
	border-style: solid;
	margin: 5px;
	width: 300px;
	float: right;
}

td.vacatureheader{
	color: purple;
	font-weight: bold;
}

td.vacaturetekst{
	
}

.recensieheader{
	font-size: 20px;
}

.recensietitel{
	float:left;
	font-weight: bold;
	width: 80%;
}

.recensiecijferpos{
	float:right;
	color: green;
	margin-right: 5px;
}

.recensiecijferneg{
	float:right;
	color: red;
	margin-right: 5px;
}

.recensietekst{
	clear:left;
}

.recensies{
}

.nieuwbericht{
	height: 40px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}

#icoonplus{
	vertical-align: middle;
	height: 15px;
	width: 15px;
}
